*{
box-sizing: border-box
}
body{
  font-family: sans-serif;
  background-image: url(../images/bg-body.png);
  margin: 0;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
text-decoration: none;
}
/*********Home***************/

.baner.main-nav{
  display: none;
}
.logo{
  display: block;
  margin: 15px auto 30px;
  border-radius: 50%;
  border: solid 1px #000;
  max-width: 180px;
}
.container{
  margin: 0 15px;
}
.toggle-nav{
  display:block;
  margin: auto;
width: 45px;
text-align: center;
padding: 15px 0;
background: black;
color: white;
font-size: 1.2em;
}
/*se puede hace arriba o abajo*/
main-nav{
  display: none;
}

.main-nav a{

display: block;;
  background: #222;
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding: 15px 0 15px;
    border-bottom: solid 3px #fff;
}


img{
  width: 100%;
  }
  .product a{
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 15px;
}
.main-footer ul li{

  background: none;
  display:block;
  padding: 15px 25px;
  margin-bottom: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 5px;

  }
    .main-footer a{
      text-decoration: none;
      color:white;
      text-align: center;
      display: block;

}

/******************Media-Queries**************/

@media(min-width:700px){

  .main-nav{
  /*  display: block !important;*/
    overflow: hidden;
    margin-bottom: 40px

      }
  .container{
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    margin: auto;
    max-width: 1200px;
  }

  .toggle-nav{
    display: none;


    }
    . main-nav li{
      width: 10%;
      margin: 0 0.83%;
      display: inline-block;
    }

    main-nav a{
      padding-left: 0;
      padding-right: 0;
      font-size: 1.2em;
      border: none;
}

.baner{
  display: block;
  margin-left: 0.83%;
  margin-right: 0.83%;
}
.vip-product{
  overflow: hidden;
}
.product{
  width: 48.34%;
margin-left: 0.83%;
margin-left: 0.83%
margin-top: 40px;
  float: left;
  margin-bottom: 25px;
}
